<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyController1</servlet-name>
        <servlet-class>controller.MyController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>controller.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController1</servlet-name>
        <servlet-class>controller.RoomController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApartController</servlet-name>
        <servlet-class>controller.ApartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApartController1</servlet-name>
        <servlet-class>controller.ApartController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apartController</servlet-name>
        <servlet-class>controller.apartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hostCOntroller</servlet-name>
        <servlet-class>controller.hostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hostController1</servlet-name>
        <servlet-class>controller.hostController1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyController1</servlet-name>
        <url-pattern>/MyController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/RoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController1</servlet-name>
        <url-pattern>/RoomController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApartController</servlet-name>
        <url-pattern>/ApartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApartController1</servlet-name>
        <url-pattern>/ApartController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apartController</servlet-name>
        <url-pattern>/apartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hostCOntroller</servlet-name>
        <url-pattern>/hostCOntroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hostController1</servlet-name>
        <url-pattern>/hostController1</url-pattern>
    </servlet-mapping>
  
</web-app>
